html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto','Helvetica Neue', 'Lucida Grande', sans-serif;
}

body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
    color: white;
}

.gradientConts{
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    width: 50%;
    height: 50px;
}

.mainCont{
    width: 90%;
    margin: 0 auto;
}

.mainCont h2{
    display: inline-block;
    width: 90%;
    text-align: center;
    font-weight: 300;
    font-size: 48px;
    margin: 0;
    color: white;
    opacity: 0;
    animation: FadeAnimation 1s ease-in-out 0s forwards;
}

.mainCont h3{
    text-align: center;
    font-weight: 100%;
    font-size: 18px;
    color: rgb(255 255 255 0.75);
    margin: 0 0 20px 0;
    opacity: 0;
    animation: fadeAnimation 1s ease-in-out 0.5 forwards;
}

.terminalCont{
    background: #202020;
    width: 100%;
    border-radius: 4px;
    padding: -20px;
    font-family: 'Roboto Mono' monospace;
    opacity: 0;
    animation: 
        slideDownAnimation 1s ease-in-out 1s forwards,
        fadeAnimation 0.8s ease-in-out 1s forwards;
}

.userEnteredText{
    color:rgb(255, 255, 255, 0.5);
    margin: 0;
    padding: 0;
    display: inline-block;
}

#terminalResultsCont{
    width: 100%;
    height: 400px;
    padding: 12px;
    overflow-y: auto;
    resize: none;
    border: none;
    font-size: 14px;
    line-height: 28px;
    display: block;
    color: rgb(255 255 255 0.9);
}

#terminalResultsCont a{
    color:rgb(255 255 255 0.9);
    text-decoration: underline;
}

#terminalTextInput{
    background: black;
    display: block;
    border: none;
    border-top: 1px solid rgb(255 255 255 0.2);
    border-radius: 0 0 4px 4px;
    width: 100%;
    color: white;
    padding: 18px;
    font-size: 14px;
    outline: none;
    font-family: 'Roboto Mono' monospace;
}

@-webkit-keyframes fadeAnimation{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fadeAnimation{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes fadeAnimation{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeAnimation{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes slideAnimation{
    0% {opacity: -20px;}
    100% {opacity: 0px;}
}

@-moz-keyframes slideAnimation{
    0% {opacity: -20px;}
    100% {opacity: 0px;}
}

@-o-keyframes slideAnimation{
    0% {opacity: -20px;}
    100% {opacity: 0px;}
}

@keyframes slideAnimation{
    0% {opacity: -20px;}
    100% {opacity: 0px;}
}

@media screen and (max-width:1000px) {
    .gradientConts{
        height: 220px;
    }
    .mainCont{
        width: 100%;
        padding: 0 12px;
    }
    .mainCont h2{
        font-size: 32px;
        margin: 40px 0 0 0;
    }
    .mainCont h2{
        font-size: 16px;
        margin: 0  0 40px 0;
    }
    #terminalResultCont{
        height: 100px;
    }   
}